@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

button {
    border: none;
    background-color: transparent;
}

.container {
    margin: 0 auto;
    max-width: 1320px;
    padding: 20px 20px;
}

.color-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #939393;
}

.todo__box {
    width: 49%;
    /* min-width: 300px; */
    height: 195px;
    padding: 20px 25px;
    border: 2px solid #646464;
    border-radius: 21px;
    margin-bottom: 30px;
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.green {
    background-color: #6AFF9D;
}

.blue {
    background-color: #9EB9FF;
}

.yellow {
    background-color: #FDD879;
}

.color-buttons {
    display: flex;
    gap: 30px;
}

.title {
    font-weight: 500;
    font-size: 24px;
}

.todo__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.todo__title {
    font-size: 18px;
    font-weight: 500;
}

.redact-panel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.todo {
    padding: 30px 0;
}

.todo__boxes {
    max-width: 1064px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.todo__heading {
    font-size: 20px;
    font-weight: 500;
}

.text-input {
    background-color: none;
}

.plus-btn {
    width: 33px;
    height: 33px;
    background-image: url('img/svg/add.svg');
}

.save-btn {
    padding: 15px 50px;
    background-color: #FDD879;
    border-radius: 25px;
    border: 2px solid #939393;
}

.login-sign-up {
    display: flex;
    gap: 20px;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.active {
    border: 2px solid #4E4E4E;
}

.add-list-item-btn {
    align-self: flex-end;
}

.list {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    max-height: 120px;
    overflow: scroll;
}

.todo__list-item {
    display: flex;
    gap: 15px;
}


.list::-webkit-scrollbar {
    width: 0;
}

.todo__checkbox {
    margin-top: 2px;
}

@media (max-width: 1000px) {
    .color-btn {
        width: 40px;
        height: 40px;
    }

    .color-buttons {
        gap: 23px;
    }

    .hidden-mobile {
        display: none;
    }

    .title {
        font-size: 20px;
    }

    .save-btn {
        padding: 15px 40px;
    }
}

@media (max-width: 700px) {
    .todo__box {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .hidden-desktop {
        display: none;
    }
}